[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/contrast-hugo"]
	path = themes/contrast-hugo
	url = https://github.com/niklasbuschmann/contrast-hugo.git
[submodule "themes/hugo-chart"]
	path = themes/hugo-chart
	url = https://github.com/Shen-Yu/hugo-chart.git
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
